
# Java / Maven
/backend-api/target/
/backend-api/*.log

# Node / Angular
/frontend-app/node_modules/
/frontend-app/dist/
/frontend-app/.angular/

# IDE / Editor
/.idea/
/.vscode/

# OS Files
.DS_Store
Thumbs.db

# General build artefacts
*.class

# Java build artifacts
/backend-api/target/
/backend-api/*.log
*.class