/* src/app/products/product-list/product-list.component.scss */
.carousel-container {
  position: relative;
  overflow: hidden;
  padding: 24px;
}

.carousel {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  scroll-behavior: smooth;
  /* scrollbar gizle */
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  z-index: 10;
}
.arrow.prev {
  left: 8px;
}
.arrow.next {
  right: 8px;
}
