.product-list-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px 0 80px 0;

  .header-title {
    font-family: "Avenir Book", sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 1;
    margin: 0;
    color: #000;
  }
}

.carousel-wrapper {
  position: relative;
  max-width: 1248px;
  margin: 0 auto;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 24px;

  width: 1248px;
  margin: 0 auto;
  padding-bottom: 8px;
  box-sizing: content-box;
}

.arrow {
  position: absolute;
  top: 90px;
  transform: translateY(0);
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  z-index: 2;
}

.arrow.prev {
  left: -48px;
}

.arrow.next {
  right: -48px;
}

.chevron {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-style: solid;
  border-width: 2px 2px 0 0;
  border-color: currentColor;
}

.chevron-left {
  transform: rotate(-135deg);
}

.chevron-right {
  transform: rotate(45deg);
}
